/* Write your CSS here */
.cart-summary-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.total-count {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 23px;
  color: #616e7c;
}
.total-price {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  color: #171f46;
}
.items-count {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 23px;
  color: #616e7c;
}
.checkout-button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  height: 40px;
  width: 200px;
  margin-top: 12px;
  background-color: #0b69ff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
}
